<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.boot.member.MemberMapper">
	<!-- db칼럼의 값과 변수의 이름을 맞춰주는 기능 -->
	 <resultMap type="com.care.boot.member.MemberDTO" id="memberDto">
		<id column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="user_name" property="userName"/>
		<result column="address" property="address"/>
		<result column="mobile" property="mobile"/>
	</resultMap>
	<select id="select">
		SELECT id FROM boot_member WHERE id=#{id}
	</select>
	
	<select id="loginProc" resultMap="memberDto">
		SELECT * FROM boot_member WHERE id=#{id}
	</select>
	
	<insert id="registerProc" parameterType="com.care.boot.member.MemberDTO">
		INSERT INTO boot_member VALUES(#{id}, #{pw}, #{userName}, #{address}, #{mobile})
	</insert>
	
	<select id="memberInfo" resultMap="memberDto">
			<choose>
			<when test="select == 'id'">
				SELECT BBB.* FROM 
				(SELECT ROWNUM() as rn, AAA.* FROM 
				(SELECT boot_member.* FROM boot_member WHERE id like CONCAT('%', #{search}, '%') ORDER BY id)AAA)BBB
				WHERE BBB.rn BETWEEN #{begin} AND #{end}
				
			</when>
			<when test="select == 'mobile'">
				SELECT BBB.* FROM 
				(SELECT ROWNUM() as rn, AAA.* FROM 
				(SELECT boot_member.* FROM boot_member WHERE mobile like CONCAT('%', #{search}, '%') ORDER BY id)AAA)BBB
				WHERE BBB.rn BETWEEN #{begin} AND #{end}
				
			</when>
			<otherwise>
				SELECT BBB.* FROM 
				(SELECT ROWNUM() as rn, AAA.* FROM 
				(SELECT boot_member.* FROM boot_member  ORDER BY id)AAA)BBB
				WHERE BBB.rn BETWEEN #{begin} AND #{end}
			</otherwise>
				
		</choose>
	</select>
	<select id="count">
		<choose>
			<when test="select == 'id'">
				SELECT count(id) FROM boot_member WHERE id like CONCAT('%', #{search}, '%')
			</when>
			<when test="select == 'mobile'">
				SELECT count(id) FROM boot_member WHERE mobile like CONCAT('%', #{search}, '%')
			</when>
			<otherwise>
				SELECT count(id) FROM boot_member 
			</otherwise>
		</choose>
	</select>
	
	<update id="updateProc" parameterType="com.care.boot.member.MemberDTO">
		UPDATE boot_member 
		SET pw=#{pw}, user_name=#{userName}, address=#{address}, mobile=#{mobile} 
		WHERE id=#{id}
	</update>
	
	<delete id="delete">
		DELETE FROM boot_member WHERE id=#{id}
	</delete>
	
</mapper>










